
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            Šauktinių sąrašas
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nr.</th>
                        <th>Vardas</th>
                        <th>Pavardė</th>
                        <th>El. pašto adresas</th>
                        <th>Telefonas</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Jonas</td>
                        <td>Jonaitis</td>
                        <td>jonaitis@one.lt</td>
                        <td>+37067122222</td>
                        <td>
                            <a class="btn btn-primary" href="#">Redaguoti</a>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
