
<div class="col-md-12">
    
    <div class="alert alert-info" *ngIf="isLoading && !isError">
        Informacija kraunama, prašome palaukti
    </div>

    <div class="alert alert-danger" *ngIf="isError">
        Įvyko klaida parsiunčiant duomenis
    </div>

    
    <div class="card" *ngIf="!isLoading">
        <div class="card-header">
            Šauktinių sąrašas
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nr.</th>
                        <th>Vardas</th>
                        <th>Pavardė</th>
                        <th>El. pašto adresas</th>
                        <th>Telefonas</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sauktinis of sauktiniuSarasas; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{sauktinis.name}}</td>
                        <td>{{sauktinis.surname}}</td>
                        <td>{{sauktinis.email}}</td>
                        <td>{{sauktinis.phone}}</td>
                        <td>
                            <a class="btn btn-primary" [routerLink]="['/update',sauktinis.id]">Redaguoti</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
