<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            Pridėti naują šauktinį
        </div>
        <div class="card-body">
            <form>
                <div class="mb-3">
                    <label for="" class="form-label">Vardas</label>
                    <input type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Pavardė</label>
                    <input type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">El. pašto adresas</label>
                    <input type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Telefonas</label>
                    <input type="text" class="form-control">
                </div>
                <button class="btn btn-success">Pridėti</button>
            </form>
        </div>
    </div>
</div>
